.main-div{
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  width: 250px;
  margin: auto;
}
button{
  margin-left: 18%;
  margin-top: 40%;
}
.user-img{
  height: 160px;
  border: 1px solid black;
  border-radius: 40rem;
  margin-left: 18%;
  margin-top: 20%;
}
