.divider {
    width: 95%;
}

.container-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.information-card {
    background-color: #f7f9f9;
    margin-bottom: 20px;
}

.information-card-title {
    text-align: center;
    margin-top: 10px;
} 

/* Product Information */
.product-information-card-img-top {
    width: 300px;
    height: 250px;
    margin-top: 20px;
    border-radius: 5%;
}

/* Vendor Information */
.vendor-information-card-img-top {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.vendor-information-card {
    cursor: pointer;
}

#chat-btn {
    margin-top: -10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}