.question-div{
    border: 0.5px solid #DDA6B9;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    background-color: #FFDAF5;
    color: #67696A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 3.5rem;
    vertical-align: baseline;
}
.questionnaire-heading{
    align-items: center;
    text-align: center;
    margin-top: 0px;
    color: black;
}
.question{
    color: black;
    font-weight: bold;
}