.navbar {
    height: 52px;
    list-style: none;
} 

.navbar ul {
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.left-nav-items li a:hover {
    text-decoration: none;
    color: white;
}

.left-nav-items li {
    float: left;
}

.right-nav-items li {
    float: right;
}

.right-nav-items li a:hover {
    text-decoration: none;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#my-messages-icon {
    width: 25px;
    height: 25px;
}