<div id="top-products-container" class="container" *ngIf="(topProducts) && (topProducts.length > 0)">
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <ngb-alert *ngIf="!closed" (close)="closed=true">
          <p>
              This demo application has been made for a 
              <a class="bold-warning" href="https://talkjs.com/tutorials/article/add-buyer-seller-chat-into-a-marketplace-with-angular-6/">tutorial</a> on how to implement 
              <a class="bold-warning" href="http://www.talkjs.com">TalkJS</a> into any Angular 6 application.
          </p>       
        </ngb-alert>
      </div>
      <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 container-title">Top Products</div>
    <div class="col-sm-4"></div>
  </div>
  <div id="top-products-row" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3" *ngFor="let product of topProducts">
      <div class="card top-products-card" (click)="goToProductPage(product)">
        <img class="card-img-top top-products-card-img-top img-fluid" src="{{product?.pictureUrl}}" alt="product-image">
        <div class="card-block">
          <h4 class="card-title top-products-card-title">{{product?.name}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<hr class="divider">

<div id="top-vendors-container" class="container" *ngIf="(topVendors) && (topVendors.length > 0)">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 container-title">Top Vendors</div>
        <div class="col-sm-4"></div>
      </div>
  <div id="top-vendors-row" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3" *ngFor="let vendor of topVendors">
      <div class="top-vendors-card" (click)="goToVendorPage(vendor)">
        <img class="card-img-top top-vendors-card-img-top img-fluid mx-auto d-block" src="{{vendor?.profilePictureUrl}}" alt="vendor-profile-picture">
        <div class="card-block">
          <h4 class="card-title top-vendors-card-title">{{vendor?.username}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made by <a href="https://talkjs.com/"><img id="footer-logo" src="assets/images/talkjs/logo/logo.svg" width="30" height="30" alt="talkjs"></a>
  </div>
</nav>