/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 2rem;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

#talkjs-container i {
  color: #888;
}

.chat-button {
  display: inline-block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.chat-button:hover {
  background-color: #0056b3;
}

form {
  display: inline;
}