<%= javascript_import_module_tag "conversation" %>
<div id="user-data" data-users="<%= @users.to_json %>"></div>
<div class = "main-container">
<%= content_tag :button, type: 'button', class: 'chat-button', onclick: "window.location='#{chat_path}'" do %>
  <svg
    xmlns="http://www.w3.org/2000/svg&quot;
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
  >
    <path d="m15 18-6-6 6-6" fill="none" />
  </svg>
  John's Chats
<% end %>
<div id="talkjs-container">
  <i>Loading chat...</i>
</div>
</div>