<div>
<h1>Welcome to All Parts</h1>
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper banner">
      <img src="https://images.unsplash.com/photo-1513310285890-06d9ac313835?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Free delivery on all order over $100</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper banner">
      <img src="https://images.unsplash.com/photo-1486262715619-67b85e0b08d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>All major brands available</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper banner">
      <img src="https://images.unsplash.com/photo-1562615202-0b3035d14b6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1619&q=80" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Specializing in all repairs</h3>
    </div>
  </ng-template>
</ngb-carousel>
<app-talkjs></app-talkjs>
</div>
