.UserProfile {
    width: 99%;
}

.UserProfile #products-row {
    margin-top: 15px;
}

.UserProfile .container-title {
    text-align: center;
    font-weight: 600;
    margin-top: -10px !important;
}

.UserProfile .divider {
    width: 95%;
}

.UserProfile #personal-information-container {
    margin-top: 30px;
}

.UserProfile #talkjs-inbox {
    margin-top: 1%;
}