#loginButton {
    display: block;
    background-color: #D8FDFF;
    font-size: 24px;
    margin: 5px;
}

#talkToButton {
    display: block;
    background-color: #D8FFE4;
    font-size: 24px;
    margin: 5px;
}

button:hover {
    opacity: 0.8;
}