.ProductPage {
    width: 99%;
}

.ProductPage .divider {
    width: 95%;
}

.ProductPage .container-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.ProductPage #chat-btn {
    margin-top: -10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}